:root{
  --section-bg-color: #242424;
  --section-text-color: #fff;
  --section-border-color: #242424;
  --section-border-width: 1px;
  --section-border-style: solid;
  --section-border-radius: 0px;
  --section-padding: 0px; 
  --section-margin: 0px;
  --section-box-shadow: 2px 2px 2px 2px rgba(0,0,0,0.2);
  --section-font-size: 1rem;
  --section-font-family: 'Roboto', sans-serif;
  --section-font-weight: 400;
  --section-line-height: 1.5;

  --primary-btn-bg-color: #242424;
  --primary-btn-text-color: #fff;
  --primary-btn-border-color: #242424;
  --primary-btn-border-width: 1px;
  --primary-btn-border-style: solid;
  --primary-btn-border-radius: 0px;
  --primary-btn-padding: 0.5rem 1rem;
  --primary-btn-margin: 0px;
  --primary-btn-box-shadow: 2px 2px 2px 2px rgba(0,0,0,0.2);
  --primary-btn-font-size: 1.2rem;
  --primary-btn-font-family: 'Roboto', sans-serif;
}

body{
  margin: 0;
  box-sizing: border-box;
  width: 100vw;
  height: 100vh;

  font-family: var(--section-font-family);
  font-size: var(--section-font-size);
  font-weight: var(--section-font-weight);
  line-height: var(--section-line-height);
  overflow-x: hidden;
  overflow-y: visible;
}



/* other styles are as follows */

.container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 90vw;
  height: auto;
  margin: 0 auto;
  background-color: var(background-color);
}

.sectionContainer{
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.sectionDescriptionStyles{
  margin: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.sectionDescriptionStyles h1 {
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.5;
  margin-bottom: 0.5rem;
}

.sectionDescriptionStyles p {
  margin-top: 1rem;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.7;
}


/* end of other styles */



/* default styles for all elements */

h1, h2, h3, h4, h5, h6{
  margin: 0;
  padding: 0;
}

a{
  text-decoration: none;
  color: inherit;
}

ul{
  list-style: none;
  margin: 0;
  padding: 0;
}

img{
  max-width: 100%;
  height: auto;
}

